# Environment
ingestion-service/.env

# Virtual Environment
venv/
env/
.venv/
ingestion-service/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
